body{
    font-family: 'Roboto',sans-serif;
}
*{
	box-sizing: border-box;
}
#cuppaDatePickerContainer, #cuppaDatePicker{
	width: 250px;
    text-align: center;
    margin: 0px auto;
}
.wc-date-container{
    float: left;
    width: 100%;
    height: 30px;
    margin-bottom: 1px;
    font-size: 16px;
    padding: 5px;
    text-align: left;
    cursor: pointer;
    line-height: 20px;
    top: 15px;
    position: absolute;
    left: 20%;
}
.wc-date-container > span{
    color: #355719;
}
.wc-date-container > i{
    float: right;
    font-size: 20px;
    color: #355719;
}
.winkel-calendar{
    position: relative;
}
.wc-date-popover{
    font-size: 14px;
    margin: 0px auto;
    perspective: 1000px;
    float: left;
    background: #fff;
    border: 1px solid #355719;
    position: fixed;
    width: 100%;
    top: 60px;
    left: 0px;
    z-index: 1600000;
    overflow: auto;
}
.wc-banner{
    /* background: #3ce5ed; */
    float: left;
    width: 100%;
    margin-bottom: 5px;
    background: #355719;
}
.wc-day-row{
    padding: 5px 0px;
    background: rgba(0, 0, 0, 0.09);
    color: #fff;
    width: 100%;
    float: left;
    font-size: 18px;
    text-align: center;
}
.wc-date-row{
    display: inline-block;
    font-size: 82px;
    color: #fff;
    padding: 10px 5px;
    width: 50%;
    float: left;
    text-align: right;
    font-weight: 200;
    line-height: 100px;
}
.timepicker-true .wc-date-row{
    width: 30%;
    padding: 0px 5px;
}
.wc-month-row{
	padding: 16px 0px 0px 0px;
    font-size: 35px;
    color: #fff;
    width: 100%;
    float: left;
}
.wc-month-row > div, .wc-year-row > div{

}
.wc-month-row > i, .wc-year-row > i{
    float: right;
    font-size: 12px;
    padding: 10px 6px;
    cursor: pointer;
}
.wc-month-row > i:hover, .wc-year-row > i:hover{
    color: rgba(255, 255, 255, 0.63);
}
.wc-year-row{
	text-align: left;
    color: #fff;
    font-size: 24px;
    float: left;
    width: 100%;
    padding: 5px 0px 0px 0px;
}
.timepicker-true .wc-year-row{
    font-size: 20px;
    padding: 5px 0px 0px 12px;
}
.timestate > .active{
    color: #fff;
}
.timestate span{
    cursor:pointer;
}
.wc-my-sec{
	display: inline-block;
	padding: 10px 10px;
	float: left;
    width: 50%;
    font-weight: 300;
}
.timepicker-true .wc-my-sec{
    width: 20%;
}
.time i{
    font-size: 21px;
    display: block;
    text-align: center;
    cursor: pointer;
}
.time i:hover{
    color: rgba(255, 255, 255, 0.65);
}
.time > .hour, .time > .minutes{
    float: left;
    width: 45%;
}
.wc-month-row > div:nth-child(1), .wc-year-row > div:nth-child(1){
	float: left;
    text-align: left;
    line-height: 37px;
}
.wc-time-sec{
    color: #fff;
    text-align: center;
    padding: 5px 10px;
    background: #355719;
    float: left;
    width: 100%;
    margin-top: 5px;
}
.wc-time-sec > .time{
    font-size: 22px;
    font-weight: 100;
    width: 50%;
    text-align: right;
    float: left;
}
.time-divider{
    width: 5%;
    float: left;
    text-align: center;
    padding: 8px 0px;
}
.time-view{
    position: absolute;
    background: #fff;
    width: 100%;
    z-index: 1;
    top: 25px;
}
.button{
    width: 100%;
    padding: 5px;
    background: #355719;
    color: #fff;
    margin: 0px auto;
    border: 1px solid #355719;
    border-radius: 3px;
}
.button-sm{
    width: 50%;
}
.time-view .time{
    font-size: 36px;
    width: 50%;
    margin: 0px auto;
    display: inline-block;
    padding: 15px 0px 0px 0px;
    color: #355719;
    font-weight: 300;
}
.time-view .time-divider{
    padding:0px;
}
.wc-time-sec .time input, .time-view .time input {
    display: inline-block;
    width: 100%;
    background: none;
    border: none;
    text-align: center;
    cursor: pointer;
}
.wc-time-sec > .timestate{
    font-size: 14px;
    width: 50%;
    float: left;
    padding: 24px;
    font-size: 24px;
}
.show-time-picker .wc-date-row{
     width: 33% !important;
}
.show-time-picker .wc-my-sec{
    width: 22% !important;
}

.wc-month-controls > .fa:hover, .wc-year-controls > .fa:hover{
	color: #fff;
}
.wc-details > .fa:hover{
    color: #ccc;
}
.wc-month-controls{
    padding: 5px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.71);
    float: right;
}
.wc-year-controls{
	padding: 2px 5px 0px 5px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.71);
    float: right;
}
.wc-year-controls > .fa , .wc-month-controls > .fa{
    cursor: pointer;
    padding: 0px 4px;
}

.wc-details{
    float: left;
    width: 65%;
    padding: 5px 0px 5px;
    color: #fff;
    background: #7D8A1E;
}
.banner-true > .wc-details{
    padding: 10px 0px 10px;
}
.wc-prev{
	float: left;
	width:25%;
    text-align: left;
    padding: 0px 15px;
    cursor: pointer;
    font-size: 35px;
}
.month-year{
	float: left;
	width:50%;
    font-size: 18px;
    line-height: 35px;
    text-align: center;
}
.wc-next{
	float: right;
	width:25%;
    text-align: right;
    padding: 0px 15px;
    cursor: pointer;
    font-size: 35px;
}
.calendar-days{
	 color: #223d0c;
    background: #fff;
}
.cal-util{
    width: 100%;
    float: left;
    cursor: pointer;
    position: absolute;
    bottom: 60px;
    background: #fff;
}
.cal-util > .ok{
    width: 100%;
    padding: 15px;
    border-bottom: 1px solid #d1d1d1;
    float: left;
    color: #355719;
    font-size: 18px;
    border-top: 1px solid #d1d1d1;
    display: none;
}
.ok > i{
    margin-right: 5px;
}
.cal-util > .cancel{
    width: 50%;
    float: left;
    padding: 10px;
    color: #355719;
    font-size: 20px;
}
.cal-util > .ok:hover, .cal-util > .cancel:hover{
    box-shadow: inset 0px 0px 20px #ccc;
}
.today > span{
	border: 1px solid #355719;
    background: none;
}
.selected-day > span{
	/*background: #3ce5ed;*/
    background: #355719;
    color: #fff;
}
.calendar-header{

}

.calendar-days td{
	cursor: pointer;
}
.calendar-days td:hover > span{
	background: #355719;
    color: #fff;
}
.winkel-calendar table{
	width: 100%;
	text-align: center;
    font-size: 18px;
    border-collapse: collapse;
}
.winkel-calendar table td{
	padding: 0px 0px;
    width: calc((100%)/7);
	text-align: center;
	transition: all .1s linear;
}
.winkel-calendar table td span{
    display: block;
    padding: 4px;
    margin: 0px;
    line-height: 32px;
}
.calendar-header td{
    padding: 5px 0px !important;
}
.months-view, .years-view{
    background: #fff;
    position: absolute;
    width: 100%;
    top: 210px;
    width: 100%;
    height: calc(100% - 210px);
    bottom: 0;

}
.years-list-view{
   float: left;
   width: calc(100% - 60px);
   height: 100%;
}
.months-view > span, .years-list-view > span{
    display: inline-block;
    width: 25%;
    padding: 25px 0px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
}
.years-list-view > span{
    width: 33.3333%
}
.years-view > .prev, .years-view > .next{
    float: left;
    width: 30px;
    padding: 85px 0px;
    cursor: pointer;
    font-size: 52px;
}
.years-view > .prev:hover, .years-view > .next:hover{
    color: #ccc;
}
.years-view > .next{
    float: right;
}
.current-month, .current-year{
    color: #355719;
}
.years-view > span{
    width: 33.3333%;
}
.months-view > span:hover, .years-list-view > span:hover{
    color: #355719;
}
.banner-true{
    padding-top: 0px !important;
    border: none !important;
}
.banner-true > .wc-banner{
    margin-bottom : 0px !important;
}
.banner-true > .time-view{
    height: calc(100% - 124px);
    top: 142px;
}
.methods{
    clear: left;
    padding: 50px 0px;
    text-align: center;
}
.month-year i{
    cursor:pointer;
    font-size: 10px;
}

    .timepicker-true .wc-month-row{
        font-size: 28px;
        padding: 5px 0px 5px 15px;
    }
    .timepicker-true .wc-month-row > div:nth-child(1), .wc-year-row > div:nth-child(1){
        line-height: 24px;
    }
    .timepicker-true .wc-month-row > i, .wc-year-row > i{
        padding: 8px 6px;
    }
    .timepicker-true .wc-my-sec{
        padding: 16px 2px;
    }
    .timepicker-true .wc-time-sec{
        width: 48%;
        padding: 25px 0px;
        margin: 0px;
        cursor: pointer;
    }
    .timepicker-true .wc-time-sec:hover{
        color: rgba(255, 255, 255, 0.65);
    }
    .timepicker-true .wc-time-sec > .time{
        width: 75%;
        cursor: pointer;
    }
    .timepicker-true .time i{
        display: none;
    }
    .timepicker-true .time-divider{
        padding: 0px;
    }
    .timepicker-true .timestate{
        padding: 0px;
        width: auto;
        padding-top: 7px;
        font-size: 20px;
        font-weight: 300;
    }
.year-title{
    width: 35%;
    float: left;
    line-height: 45px;
    font-size: 18px;
    background: #47730D;
    color: #fff;
}
.year-title i{
    float: right;
    padding: 5px 10px 5px 0px;
    font-size: 28px;
}
.angular-range-slider {
  display: inline-block;
  position: relative;
  height: 4px;
  width: 80%;
  margin: 10px auto 25px auto;
  vertical-align: middle; }
  .angular-range-slider div {
    white-space: nowrap;
    position: absolute; }
    .angular-range-slider div.bar {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      background: #ccc;
      overflow: hidden; }
      .angular-range-slider div.bar .selection {
        width: 0;
        height: 100%;
        background: #355719; }
    .angular-range-slider div.handle {
      cursor: pointer;
      width: 25px;
      height: 25px;
      top: -10px;
      background: #fff;
      box-shadow: 0px 0px 5px #ccc;
      z-index: 2;
      border-radius: 100%; }
      .angular-range-slider div.handle.active {
        background-color: #fff; }
    .angular-range-slider div.bubble {
      display: none;
      cursor: default;
      top: -32px;
      padding: 1px 3px 1px 3px;
      font-size: 0.7em;
      font-family: sans-serif; }
      .angular-range-slider div.bubble.active {
        display: inline-block; }
      .angular-range-slider div.bubble.limit {
        color: #777; }

@media (min-width: 365px) and (max-width: 767px){
    .wc-date-row{
        font-size: 96px;
    }
    .timepicker-true .wc-date-row {
        width: 54%;
        padding: 20px 5px 10px;
    }
    .timepicker-true .wc-my-sec {
        padding: 33px 2px 10px;
        width: 46%;
    }
    .timepicker-true .wc-time-sec {
        width: 100%;
        padding: 0px 0px 15px 0px;
    }
    .timepicker-true .wc-time-sec > .time {
        width: 35%;
        float: none;
        margin: 0px auto;
        font-size: 42px;
    }
    .timepicker-true .wc-month-row {
        font-size: 42px;
        padding: 5px 0px 5px 5px;
    }
    .timepicker-true .wc-year-row {
        font-size: 24px;
        padding: 15px 0px 0px 5px;
    }
    .timepicker-true .timestate{
        font-size: 22px;
        font-weight: 100;
    }
    .months-view, .years-view{
        top: 297px;
    }
    .banner-true > .time-view{
        top: 240px;
    }
    .time-view .time{
        font-size: 62px;
    }
    .cuppa-btn-group{
        font-size: 22px;
        font-weight: 300;
    }
    .angular-range-slider{
        height: 5px;
        margin: 20px auto 25px auto;
    }
    .angular-range-slider div.handle{
        width: 45px;
        height: 45px;
        top: -20px;
        font-size: 26px;
    }
    .time-view-btn{
        padding: 25px 0px;
    }
    .button-sm {
        width: 80%;
        padding: 10px;
        font-size: 16px;
    }
    .cuppa-btn-group > .button{
        padding: 5px 15px !important;
    }

}
@media (min-width: 768px) {
    .wc-date-popover{
        width: 250px;
        position: absolute;
        top: 45px;
        height: auto;
        left: 0;
        font-size: 1.4rem;
    }
    .cal-util{
        bottom: 0;
    }
    .wc-day-row{
        padding: 5px 0px;
        font-size: 14px;
    }
    .wc-date-row{
        font-size: 62px;
        line-height: 65px;
        padding: 15px 5px;
    }
    .wc-my-sec{
        padding: 15px 10px;
    }
    .timepicker-true .wc-my-sec{
        padding: 15px 3px;
    }
    .wc-month-row{
        padding: 5px 0px 0px 0px;
        font-size: 28px;
    }
    .wc-year-row{
        font-size: 16px;
        padding: 2px 0px 0px 0px;
    }
    .month-year{
        font-size: 14px;
        line-height: 20px;
    }
    .wc-month-row > div:nth-child(1), .wc-year-row > div:nth-child(1){
        line-height: 28px;
    }
    .wc-prev, .wc-next{
        font-size: 18px;
    }
    .wc-details{
        padding: 5px 0px 5px;
    }
    .year-title{
        line-height: 30px;
        font-size: 16px;
    }
    .year-title i{
        padding: 5px 10px 5px 0px;
        font-size: 18px;
    }
    .calendar-header td{
        padding: 5px 0px !important;
    }
    .winkel-calendar table{
        font-size: 14px;
    }
    .winkel-calendar table td span{
        line-height: 18px;
        width: 25px;
        height: 25px;
    }
    .months-view, .years-view{
        top: 40px;
        width: 100%;
        height: calc(100%);
    }
    .banner-true .months-view, .banner-true .years-view{
        top: 165px;
        height: calc(100% - 128px);
    }
    .winkel-calendar table td span{
            padding: 4px;
    }
    .cal-util > .ok{
        font-size: 14px;
        padding: 10px;
    }
    .wc-time-sec > .time{
        font-size: 30px;
    }
    .time i{
        font-size: 10px;
    }
    .wc-time-sec > .timestate{
        font-size: 16px;
    }
    .wc-month-row > div:nth-child(1), .wc-year-row > div:nth-child(1){
        min-width: 35px;
    }
    .wc-month-row > i, .wc-year-row > i{
        font-size: 8px;
    }
    .cal-util{
        position: relative;
    }
    .timepicker-true .wc-date-row{
        width: 25%;
        font-size: 52px;
        padding: 15px 5px;
    }
    .timepicker-true  .wc-my-sec{
         width: 25%;
    }
    .banner-true > .time-view {
        top: 125px;
    }
    .timepicker-true .wc-month-row {
        padding: 6px 0px 0px 7px;
        font-size: 18px;
    }
    .timepicker-true .wc-year-row {
        padding: 0px 0px 0px 6px;
        font-size: 16px;
    }
}
.time-view h5{
    text-align: left;
    width: 80%;
    margin: 0px auto;
    padding: 5px 0px;
    font-weight: 400;
}

.cuppa-btn-group{
    display: inline-block;
}
.cuppa-btn-group > .active{
    background: #355719 !important;
    color: #fff !important;
}
.cuppa-btn-group > .button{
    border: 1px solid #355719;
    background: #fff;
    border-radius: 3px;
    float: left;
    margin: 0px;
    align-items: initial;
    color: #355719;
    width: auto;
    padding: 0px 5px;
}
.cuppa-btn-group > .button:first-child{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right: 0px;
}
.cuppa-btn-group > .button:last-child{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

/* Slider CSS*/

.slider{
    width: 200px;
    height: 5px;
    background: #ccc;
    border-radius: 5px;
    margin: 12px auto;
    position: relative;
}
.slider > .circle{
    width: 20px;
    height: 20px;
    background: #fff;
    position: absolute;
    top: -8px;
    border-radius: 20px;
    left: 60px;
    box-shadow: 0px 0px 5px #ccc;
    cursor: pointer;
}
