#search .select2-results__options{
  font-size:15px;
}
#search .select2-container .select2-selection--single , .select2-container--default .select2-selection--single .select2-selection__arrow{
  height: 4rem;
}
#search .select2-container--default .select2-search--dropdown .select2-search__field{
  height: 4rem;
  font-size: 15px;
}
#search .select2-container--default .select2-selection--single .select2-selection__rendered{
  font-size:15px
}
.select2-results__options{
  font-size:17px;
}
.select2-container .select2-selection--single , .select2-container--default .select2-selection--single .select2-selection__arrow{
  height: 4rem;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
  font-size: 17px;
  height: 4rem;
  padding: 7px;
}
.select2-container--default .select2-search--dropdown .select2-search__field{
  height: 4rem;
  font-size: 17px;
}
.input-group-append {
  margin-left: -1px;
}
.input-group-append, .input-group-prepend {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
}
.bootstrap-datetimepicker-widget{
width: 300px;
}
.input-group>.input-group-append>.btn, .input-group>.input-group-append>.input-group-text, .input-group>.input-group-prepend:first-child>.btn:not(:first-child), .input-group>.input-group-prepend:first-child>.input-group-text:not(:first-child), .input-group>.input-group-prepend:not(:first-child)>.btn, .input-group>.input-group-prepend:not(:first-child)>.input-group-text {
border-top-left-radius: 0;
border-bottom-left-radius: 0;
}
.input-group-text {
padding: .375rem .75rem;
margin-bottom: 0;
font-size: 2.1rem;
font-weight: 400;
line-height: 1.5;
color: #495057;
text-align: center;
white-space: nowrap;
background-color: #e9ecef;
border: 1px solid #ced4da;
border-radius: .25rem;
}
.bootstrap-datetimepicker-widget.dropdown-menu{
width:23rem;
}
.tm-seat-layout-wrapper td {
position: relative;
height: 20px;
vertical-align: top;
}
/*********

Seat Icon Sprites

*********/
.ssb-layout-box {
display: inline-block;
border: 3px solid #999999;
vertical-align: top;
padding: 1%;
border-radius: 15px;
margin: 0% 1% 2% 4%;
background: white;
}
.seat-sprite {
width: 22px;
height: 22px;
background-image: url(../img/seats-sprite-new.png);
}
.driver-seat {
width: 28px;
height: 24px;
margin-right: 5px;
background-position: -24px -9px;
}
.lady-seat-avail {
background-position: -24px -45px;
cursor: pointer;
}
.lady-seat-booked {
background-position: -24px -87px;
}
.male-seat-booked {
background-position: -53px -87px;
}
.seat-avail {
background-position: -85px -45px;
cursor: pointer;
}
.seat-not-avail {
background-position: -115px -45px;
}
.seat-selected,
.lady-seat-selected {
background-position: -84px -87px;
cursor: pointer;
}
.hori-sleep-sprite {
width: 51px;
height: 24px;
background-image: url(../img/seats-sprite-new.png);
}
.vert-sleep-sprite {
width: 25px;
height: 51px;
background-image: url(../img/seats-sprite-new.png);
}
.hori-sleep-avail {
background-position: -78px -132px;
cursor: pointer;
}
.hori-sleep-booked {
background-position: -78px -158px;
cursor: pointer;
}
.hori-lady-sleep-avail {
background-position: -14px -158px;
cursor: pointer;
}
.hori-sleep-selected,
.hori-lady-sleep-selected {
background-position: -78px -184px;
cursor: pointer;
}
.vert-sleep-avail {
background-position: -18px -220px;
cursor: pointer;
}
.vert-sleep-booked {
background-position: -61px -220px;
cursor: pointer;
}
.vert-lady-sleep-avail {
background-position: -61px -284px;
cursor: pointer;
}
.vert-sleep-selected,
.vert-lady-sleep-selected {
background-position: -104px -220px;
cursor: pointer;
}
/*********

Upper and Lower text sprite from seats-sleep sprite

*********/
.upper-lower-sprite {
width: 12px;
height: 90px;
background-image: url(../img/seats-sprite-new.png);
}
.upper-sprite {
background-position: -54px -366px;
}
.lower-sprite {
background-position: -22px -366px;
}
.tmm-no-result{
width: 100%;
min-height: 200px;
font-size: 22px;
color: #333;
text-align: center;
padding: 45px 0;
color: #bbb;
}
.tmm-no-result .no-result-icon{
font-size: 48px;
}
@keyframes lds-spinner {
0% {
opacity: 1;
}
100% {
opacity: 0;
}
}
@-webkit-keyframes lds-spinner {
0% {
opacity: 1;
}
100% {
opacity: 0;
}
}
.lds-spinner {
position: relative;
}
.lds-spinner div {
left: 95px;
top: 44px;
position: absolute;
-webkit-animation: lds-spinner linear 1s infinite;
animation: lds-spinner linear 1s infinite;
background: #355719;
width: 10px;
height: 32px;
border-radius: 40%;
-webkit-transform-origin: 5px 56px;
transform-origin: 5px 56px;
}
.lds-spinner div:nth-child(1) {
-webkit-transform: rotate(0deg);
transform: rotate(0deg);
-webkit-animation-delay: -0.9s;
animation-delay: -0.9s;
}
.lds-spinner div:nth-child(2) {
-webkit-transform: rotate(36deg);
transform: rotate(36deg);
-webkit-animation-delay: -0.8s;
animation-delay: -0.8s;
}
.lds-spinner div:nth-child(3) {
-webkit-transform: rotate(72deg);
transform: rotate(72deg);
-webkit-animation-delay: -0.7s;
animation-delay: -0.7s;
}
.lds-spinner div:nth-child(4) {
-webkit-transform: rotate(108deg);
transform: rotate(108deg);
-webkit-animation-delay: -0.6s;
animation-delay: -0.6s;
}
.lds-spinner div:nth-child(5) {
-webkit-transform: rotate(144deg);
transform: rotate(144deg);
-webkit-animation-delay: -0.5s;
animation-delay: -0.5s;
}
.lds-spinner div:nth-child(6) {
-webkit-transform: rotate(180deg);
transform: rotate(180deg);
-webkit-animation-delay: -0.4s;
animation-delay: -0.4s;
}
.lds-spinner div:nth-child(7) {
-webkit-transform: rotate(216deg);
transform: rotate(216deg);
-webkit-animation-delay: -0.3s;
animation-delay: -0.3s;
}
.lds-spinner div:nth-child(8) {
-webkit-transform: rotate(252deg);
transform: rotate(252deg);
-webkit-animation-delay: -0.2s;
animation-delay: -0.2s;
}
.lds-spinner div:nth-child(9) {
-webkit-transform: rotate(288deg);
transform: rotate(288deg);
-webkit-animation-delay: -0.1s;
animation-delay: -0.1s;
}
.lds-spinner div:nth-child(10) {
-webkit-transform: rotate(324deg);
transform: rotate(324deg);
-webkit-animation-delay: 0s;
animation-delay: 0s;
}

.lds-spinner {
position: fixed;
top: 50%;
left: 50%;
z-index: 3000;
background-color: #fff;
border-radius: 24px;
box-shadow: 0 0 12px #333;
display: inline-block;
width: 190px !important;
height: 190px !important;
-webkit-transform: translate(-24px, -24px) scale(0.24) translate(24px, 24px);
transform: translate(-24px, -24px) scale(0.24) translate(24px, 24px);
}
